* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.above-fold-container {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  background-image: url("pool-table.jpg");
  background-size: cover;
  background-color: orangered;
  background-repeat: no-repeat;
}

.above-fold-item {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1.above-fold-item {
  align-items: center;
  font-size: 2.5rem;
  color: aliceblue;
}

div.above-fold-item {
  align-items: flex-start;
}

input {
  margin: 20px 0;
  border-radius: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.text-input {
  color: #000000;
  padding: 20px;
  font-size: 1rem;
}

.login-button {
  background-color: orangered;
  font-size: 2rem;
  padding: 40px 40px;
  color: aliceblue;
}
