<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Player</title>
  </head>
  <body>
    <h1>Want to add a player?</h1>
    <form action="/addPlayer" method="post">
      <input type="text" name="name" placeholder="Enter Name">
      <input type="password" name="password" placeholder="Enter Password">
      <input type="text" name="coaster" placeholder="Enter Coaster">
      <input type="checkbox" name="admin" value="1">
      <label for="admin">Admin</label>
      <input type="submit" name="enter" value="Enter">
    </form>
    <a href="/removePlayer">Remove Player</a>
    {{if .}}

    <h2>Player has been added!</h2>
    <h5>Add another?</h5>
    {{end}}
  </body>
</html>
