<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mike's Place</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/mq-500plus.css" media="(min-width: 500px)">
  <link rel="stylesheet" href="assets/css/mq-800plus.css" media="(min-width: 800px)">
</head>

<body>
  <section class="above-fold-container">
    <h1 class="above-fold-item">Mike's Place</h1>
    <div class="above-fold-item">
      {{template "login-form"}}
    </div>

  </section>
</body>

</html>
