{{define "login-form"}}
<form action="/login" method="post" class="login-form">
  <input name="username" class="text-input" type="text" autofocus="true" title="Enter Username" placeholder="Username" >
  <input name="password" class="text-input" type="password" title="Enter Password" placeholder="Password" >
  <input name="login-btn" class="login-button" type="submit"  value="Log In">
</form>
{{end}}
